@page
@model NotesApp.Pages.Notes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Note.Title</h4>
    <hr />
    <dl class="row">        
        <dd class="col-sm-10">
            @foreach (var todo in Model.Note.ToDoList)
            {
                @Html.DisplayFor(todoItem => todo.IsDone)
                @todo.Content
                <br />
            }
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Note?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
