@page "/"
@model NotesApp.Pages.Notes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Notes</h1>

<p>
    <a asp-page="Create">Create New Note</a>
</p>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var note in Model.Notes)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">@note.Title</h5>
                            <p class="card-text">
                                @foreach (var todo in note.ToDoList)
                                {
                                @Html.DisplayFor(todoItem => todo.IsDone)
                                @todo.Content 
                                <br />
                                }
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">                                    
                                    <a asp-page="./Edit" asp-route-id="@note.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a asp-page="./Delete" asp-route-id="@note.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                </div>
                                <small class="text-muted">@note.CreationDate.ToString("dd/MM/yyyy")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>