@page
@model NotesApp.Pages.ToDoItems.IndexModel

@{
    ViewData["Title"] = "Tasks";
}

<h1>@ViewData["NoteTitle"]</h1>

<p>
    <a asp-page="/ToDoItems/Create" asp-route-noteId="@ViewData["NoteId"]">Create New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoItem[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoItem[0].IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoItem[0].CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
